<footer>
    <nav>
        <ul>
            <li class="menu-item">NodeJS</li>
            <li class="menu-item">ExpressJS</li>
            <li class="menu-item">EJS</li>
        </ul>
    </nav>
</footer>
</body>

</html>